<%- include('partials/header.ejs') %> 
<body>
    <link rel="stylesheet" href="/assets/css/Profile.css">
    <%- include('partials/nav.ejs') %> 
    <div class="container">
        <h1><%= comments[0].user.username %> 's Profile</h1>
        <hr>
        <br>
        <div class="games">
            <h1>Recently Bought Games:</h1>
            <ol style="list-style-type:none;">
                <li>
                    <div class="query">
                        <a href="/game/5f8efcfc7269620b2063f0dd"><img src="https://cdn-products.eneba.com/resized-products/BjwMz8G_350x200_1x-0.jpg " alt="Assassin's Creed: Brotherhood"></a>
                        
                        <h2>1. <a href="/game/5f8efcfc7269620b2063f0dd">Assassin's Creed: Brotherhood</a></h2>
                        
                        <p>The plot follows the centuries-old struggle between the Assassins, who fight for peace with free will, and the Templars, who desire the same but through control. The framing story is set in the 21st century and features series protagonist Desmond Miles who, with the aid of a machine known as the Animus, relives the memories of his ancestors to find a way to avert the 2012 apocalypse. The main story takes place immediately after the plot of Assassin's Creed II, featuring Assassin Ezio Auditore da Firenze in 16th century Italy and his quest to restore the Assassin order, and destroy his enemies: the Borgia family.</p>
                    </div>
                    
                </li>
            </ol>
        </div>
        <div class="reviews">
            <h1>Recently Reviewed Games:</h1>
            <ol style="list-style-type:none;">
                <% let i=1;comments.forEach(comment => { %>
                    <li>
                        <div class="query">
                            <p class="title"><%= i%>. <span><a href="/game/<%= comment.game.id %>"><%= comment.game.name %></a></span> - <em>"<%= comment.text %>"</em></p>
                            <% i=i+1 %> 
                            <h3>About the Game - </h3>
                            <p><%= comment.game.desc.split(".")[0]+comment.game.desc.split(".")[1]%></p>
                            <h3>Rating - </h3>
                            <p class="rating"><%= comment.game.rating %>/10</p>
                            <button type="button" class="btn btn-info float-right">More Info</button>
                        </div>
                    </li>
                <% }); %> 
                
            </ol>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>